@import url(./styles/fonts.css);

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

* {
  font-family: "titi", sans-serif;
}

.bannerDefault--wrapper {
  width: 1097px;
  height: 190px;
  background-color: #61bb61;
}
